#charset "UTF-8";

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*height: 100%; */
}

body {
    background-image: linear-gradient(to right, #F27457, #BF665E);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #8a4944
}

h1 {
    color: #03A696;
    text-align: center;
    text-shadow: 1px 1px 2px #0281747e;
}

h2 {
    color: #04BF9D
}

p {
    color:#025159
    text-align: justify;
}